body {
    margin: 0;
    background-color:#DDE6ED;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #27374D;  
    color: #9DB2BF;
    border: 1px solid black;
    border-radius: 8px;
    margin: 10px;
}

.webpage-title {
    margin-left: 20px;
}

.search-form {
    margin-right: 10px;
    
}

.sidebar {
    width: 250px;
    background-color: #27374D;
    padding: 20px;
    color: #9DB2BF;
    border: 1px solid black;
    border-radius: 8px;
    margin: 10px;
}

.sidebar h2 {
    margin: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    display: block;
    padding: 5px 0;
    text-decoration: none;
    color: #9DB2BF;
    border: 1px solid black;
    border-radius: 8px;
}

.sidebar a:hover {
    color: #DDE6ED;
    background-color: #27374D;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}
  
.movie-card {
    width: 20%;
    margin-bottom: 10px;
    background-color: #27374D;
    color: #9DB2BF;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid black;
    text-align: center;
}
